<!DOCTYPE html>
<html>
  <title>הוספת תלמידים הצליחה</title>
  <head>
    {% load static %} <link rel="stylesheet" type="text/css" href='{% static
    'tech.css' %}?{% now "U" %}'>
    <style></style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Raleway"
    />
    <style>
      body,
      h1 {
        font-family: "Raleway", Arial, sans-serif;
      }
      h1 {
        letter-spacing: 6px;
      }
      .w3-row-padding img {
        margin-bottom: 12px;
      }
    </style>
  </head>

  <body>
    <div class="w3-content" style="max-width: 1500px">
      <header class="w3-panel w3-center w3-opacity" style="padding: 128px 16px">
        <h1>ההוספה בוצעה בהצלחה</h1>
        <div class="students">
          {% for i in students %}
          <h3>{{i.name}}:{{i.user_id}}</h3>
        </div>
        {% endfor %}
        <div class="w3-padding-32">
          <div class="w3-bar w3-border">
            <a
              href="/users/HomePageTeacher/897{{teacher.user_id}}654"
              class="w3-bar-item w3-button"
              >.חזרה לדף הבית</a
            >
          </div>
        </div>
      </header>
    </div>
  </body>
</html>
