<!DOCTYPE html>
<html>
  <title>נוכחות בוצעה בהצלחה</title>
  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href='{% static 'tech.css' %}?{% now "U" %}'>
    <style> </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Raleway"/>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <style>
      body,
      h1 {
        font-family: "Raleway", Arial, sans-serif;
      }
      h1 {
        letter-spacing: 10px;
      }
      .w3-row-padding img {
        margin-bottom: 15px;
      }
      .beautyy {
    background-color: rgb(228, 220, 221);
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    border-radius: 5px;
    box-shadow: 0 5px 7px #ccc;
    text-align: right;
    letter-spacing: 0.2rem;
    margin: 1rem auto;
}
    </style>
  </head>
  <body>
    <div class="w3-content" style="max-width: 1500px">
      <header class="w3-panel w3-center w3-opacity" style="padding: 20px 15px">
        <center><h1>הנוכחות התבצעה בהצלחה</h1>

        <div class="w3-padding-32">
          <div class="beautyy">
            {% for student in students %}
            <tr>
            {% if student.name%}
               <h2>{{ student.name }} <h3>סהכ&nbsp;נכח: {{ student.present }} סהכ&nbsp;החסיר: {{ student.absent }}</h3>
             
            {% else %}
               <h2>{{ student.user_id }}<h3>סהכ&nbsp;נכח: {{ student.present }} סהכ&nbsp;החסיר: {{ student.absent }}</h3>
             
            {% endif %}
            {% endfor %}
            </tr>
          </div>
        </div>
            <a
              href="/users/HomePageTeacher/897{{teacher.user_id}}654"
              class="botton button2"
              >חזרה לדף הבית</a
            >
      </header>
    </div>
  </body>
</html>