<style>
  .align li {
    list-style: none;
    float: left;
    margin-right: 20px;
  }
</style>

<div class="container">
  <center><h1>:עידכון נוכחות לתלמידים בכיתה {{teacher.my_class}}</h1></center>
  <center><h3>{{ date }}</h3></center>
  <p></p>
  <br />

  <form
    action="{% url 'users:mark_attendance' teacher.user_id %}"
    method="POST"
    class="post-form"
  >
    {{ formset.management_form }} {% csrf_token %}
    <br />
    <table class="table table-bordered table-hover">
      <tr>
        <th>:שם התלמיד</th>
        <th>סמן נוכחות</th>
      </tr>
      {% for student,form in list %}
      <tr>
        {% if student.name != None%}
        <td>{{ student.name }}</td>
        <td class="align">{% for radio in form %} {{ radio }} {% endfor %}</td>
      </tr>
      {% endif %} {% endfor %}
    </table>
    <button type="mark_attendance">שמירה</button>
  </form>
</div>
