<!DOCTYPE html>
<html>
  <title>דף נוכחות</title>
  <head>
    {% load static %} {% load static %} <link rel="stylesheet" type="text/css"
    href='{% static 'tech.css' %}?{% now "U" %}'>

    <style>
      p {
        font-size: 114%;
        width: 16%;
        height: 30%;
        background-color: bisque;
        color: black;
        margin-top: 2%;
        float: right 0%;
      }
    </style>
  </head>
  <body dir="rtl">
    <div class="topnav">
      <a class="btn" href="/users/HomePageTeacher/897{{teacher.user_id}}654"
        >דף הבית</a
      >

      <a class="btn" href="/users/Phones/897{{teacher.user_id}}654"
        >דף קשר {{teacher.my_class}}</a
      >

      <a class="btn" href="/users/homework_Teacher/897{{teacher.user_id}}654">
        שיעורי בית
      </a>
      <a class="active" href="/users/mark_attendance/{{teacher.user_id}}"
        >נוכחות
      </a>
      <a
        class="btn"
        href="/users/massegesFromManagerInTeacher/897{{teacher.user_id}}654"
        >מסרים
      </a>
      <a
        class="btn"
        href="/users/massegeForStudentTeacher/897{{teacher.user_id}}654"
        >מסר לכיתה
      </a>
      <a href="/users/addStudent/{{teacher.user_id}}">תלמיד חדש </a>
    </div>
    <div class="container">
      <center>
        <div class="beautyy">
          מורה יקר ,באפשרותך למלא נוכחות של תלמידי כיתתך ולראות מי בסטטוס
          אדום/ירוק
        </div>
        <h1>עידכון נוכחות לתלמידים בכיתה: {{teacher.my_class}}</h1>
        <h3>{{ date }}</h3>

        <form
          action="{% url 'users:mark_attendance' teacher.user_id %}"
          method="POST"
          class="post-form"
        >
          {{ formset.management_form }} {% csrf_token %}
          <br />
          <table class="tableTecher">
            <tr>
              <th>שם התלמיד:</th>
              <th>סטטוס התלמיד:</th>
              <th>סמן נוכחות:</th>
            </tr>
            {% for student,form in list %}
            <tr>
              {% if student.name%}
              <td>{{ student.name }}</td>
              {% else %}
              <td>{{ student.user_id }}</td>
              {% endif %} {% if student.status == False%}
              <td>סטטוס אדום</td>
              {% else %}
              <td>סטטוס ירוק</td>
              {% endif %}
              <td class="center">{% for i in form %} {{ i }} {% endfor %}</td>
            </tr>
            {% endfor %}
          </table>
          <button type="mark_attendance" class="botton button2">שמירה</button>
        </form>
        <a
          class="w3-bar-item w3-button"
          href="/users/HomePageTeacher/897{{teacher.user_id}}654"
          >חזרה לדף הבית ללא שמירה</a
        >
      </center>
    </div>
  </body>
</html>
