<!DOCTYPE html>
<html>
  <title>מסרים</title>
  <head>
    {% load static %} {% load static %} <link rel="stylesheet" type="text/css"
    href='{% static 'tech.css' %}?{% now "U" %}'>
    <style></style>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body dir="rtl">
    <div class="topnav">
      <a class="btn" href="/users/HomePageTeacher/897{{teacher.user_id}}654"
        >דף הבית</a
      >

      <a class="btn" href="/users/Phones/897{{teacher.user_id}}654"
        >דף קשר {{teacher.my_class}}</a
      >

      <a class="btn" href="/users/homework_Teacher/897{{teacher.user_id}}654">
        שיעורי בית
      </a>
      <a class="btn" href="/users/mark_attendance/{{teacher.user_id}}"
        >נוכחות
      </a>
      <a
        class="active"
        href="/users/massegesFromManagerInTeacher/897{{teacher.user_id}}654"
        >מסרים
      </a>
      <a
        class="btn"
        href="/users/massegeForStudentTeacher/897{{teacher.user_id}}654"
        >מסר לכיתה
      </a>
      <a href="/users/addStudent/{{teacher.user_id}}">תלמיד חדש </a>
    </div>
    <center>
      <div class="beautyy">
        מורה יקר ,בעמוד זה תקבל הודעות ממנהל בית הספר
      </div>
      <p style="color:white;"><h1>מסרים</h1></p>
      <table id="tableTecher">
        <tr>
          <th>הודעות</th>
        </tr>
        <tr>
          <td>
            {% for mas in masseges %} שם השולח : {{mas.author.name}}
            <br />
            תאריך : {{mas.date_create}}
            <br />
            נושא : {{mas.subject}}
            <br />
            תוכן : {{mas.content}}
            <br />
            <br /><br /><br />
            {% endfor %}
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>
