<!DOCTYPE html>
<html>
  <title>דף בית מורה</title>

  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href='{% static 'tech.css' %}?{% now "U" %}'>
  
    <style> 
     .add {
        background-color: rgb(138, 111, 103);
        margin-top: 29%;
        margin-left: -13%;
        height: 14%;
        width: 128px;
      }  
    </style>
     
  
  </head>


  <body >
  
     <div class="topnav">
       <a class="active" href="/users/HomePageTeacher/897{{teacher.user_id}}654" >דף הבית</a >

       <a class="btn" href="/users/Phones/897{{teacher.user_id}}654">דף קשר {{teacher.my_class}}</a>
    
       <a class="btn" href="/users/homework_Teacher/897{{teacher.user_id}}654">  שיעורי בית </a>
       <a class="btn" href="/users/mark_attendance/{{teacher.user_id}}">נוכחות </a>
       <a class="btn" href="/users/massegesFromManagerInTeacher/897{{teacher.user_id}}654">מסרים </a>
       <a class="btn" href="/users/massegeForStudentTeacher/897{{teacher.user_id}}654">מסר לכיתה </a>
       <a href="/users/addStudent/{{teacher.user_id}}">תלמיד חדש </a>
    
      </div>


      <center>

       <p>
         <h1>  שלום למורה: {{teacher.name}}</h1>
       </p>
     </center>

       <a id="id1" href="/users/ChanageStatusTeacher/897{{teacher.user_id}}654/">שנה את הסטטוס שלי</a>
       <div class=ha>
          <center>
  
            אני מצהיר כדלהלן - עם שינוי הסטטוס שלי לירוק אני מתחייב כי אני
            איינני חולה קורונה מאובחן, לא דווח לי כי עליי לשהות בבידוד וככל הידוע לי לא שהייתי בקרבת חולה מאומת.
            .כמו כן איני סובל מסימפטומים כגון - חום גבוה ,שיעול או קשיי נשימה
         </center>
  
        </div>
  
  
       {%if teacher.status == False%}
       <p class=red> </p>
       {%endif%}
       {%if teacher.status == True%}
       <p class=green> </p>
       {%endif%}
  
  
      <div class="table">

          <a id="id4" href="/users/changeMyClassToRed/897{{teacher.user_id}}654/">כיתה אדומה</a>
        <div class=add>
     

         במצב בו התגלה חולה קורונה מאומת בכיתה או במצב של סגר לרשותך כפתור "כיתה אדומה" שיהפוך את כל תלמידי הכיתה להיות בעלי סטטוס אדום.
    
     
        </div>
     

        {% if teacher.read == False %}
        <div class=manage>

           {{teacher.name}} קיבלת הודעות מהמנהל, אנא פתח את תיבת המסרים 
        </div>
           
        {% endif %}
  
      </div>
      <a id="id3" href="{% url 'users:logout_user' %}"  target="_self">התנתקות</a>
  
  </body>
</html>
  
  
  
  
  