<!DOCTYPE html>
<html>
  <title>רשימת תלמידים</title>
  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href='{% static 'man.css' %}?{% now "U" %}'>
    <style> </style>
    <div class="topnav">
      <a class="btn" href="/users/HomePageTeacher/897{{teacher.user_id}}654"
        >דף הבית</a
      >

      <a class="btn" href="/users/Phones/897{{teacher.user_id}}654"
        >דף קשר {{teacher.my_class}}</a
      >

      <a class="btn" href="#contact"> שיעורי בית </a>
      <a class="active" href="/users/mark_attendance/{{teacher.user_id}}"
        >נוכחות
      </a>
      <a
        class="btn"
        href="/users/massegesFromManagerInTeacher/897{{teacher.user_id}}654"
        >מסרים
      </a>
      <a href="/users/addStudent/{{teacher.user_id}}">תלמיד חדש </a>
    </div>
  </head>
</html>
