<!DOCTYPE html>
<html>
  <title>דף קשר למורה</title>
  <head>
    {% load static %} {% load static %} <link rel="stylesheet" type="text/css"
    href='{% static 'tech.css' %}?{% now "U" %}'>
    <style></style>
  </head>

  <body dir="rtl">
    <div class="topnav">
      <a class="btn" href="/users/HomePageTeacher/897{{teacher.user_id}}654"
        >דף הבית</a
      >

      <a class="active" href="/users/Phones/897{{teacher.user_id}}654"
        >דף קשר {{teacher.my_class}}</a
      >

      <a class="btn" href="/users/homework_Teacher/897{{teacher.user_id}}654">
        שיעורי בית
      </a>
      <a class="btn" href="/users/mark_attendance/{{teacher.user_id}}"
        >נוכחות
      </a>
      <a
        class="btn"
        href="/users/massegesFromManagerInTeacher/897{{teacher.user_id}}654"
        >מסרים
      </a>
      <a
        class="btn"
        href="/users/massegeForStudentTeacher/897{{teacher.user_id}}654"
        >מסר לכיתה
      </a>
      <a href="/users/addStudent/{{teacher.user_id}}">תלמיד חדש </a>
    </div>

    <center>
      <ul>
        <p style="color:white;"><h1>הנבחרת של הכיתה</h1></p>
        <table id="tableTecher">
          <tr>
            <th>שם התלמיד</th>
            <th>מספר פלאפון</th>
          </tr>
        </table>
        {% for student in student %}
        <table id="tableTecher">
          <student class="students">
            <tr>
              <td>{{student.name}}</td>
              <td>{{student.phone_number}}</td>
            </tr>
          </student>
        </table>
        {% endfor %}
      </ul>
    </center>
  </body>
</html>
