<!DOCTYPE html>
<html>
  <title>דף קשר למורה</title>
  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'man.css' %}" />
  </head>

  <body>
    <div class="topnav">
      <a class="btn" href="/users/HomePageTeacher/897{{teacher.user_id}}654"
        >דף הבית</a
      >

      <a class="active" href="/users/Phones/897{{teacher.user_id}}654"
        >דף קשר {{teacher.my_class}}</a
      >

      <a class="btn" href="#contact"> שיעורי בית </a>
      <a class="btn" href="#about">נוכחות </a>
      <a
        class="btn"
        href="/users/massegesFromManagerInTeacher/897{{teacher.user_id}}654"
        >מסרים
      </a>
      <a href="#about">תלמיד חדש </a>
    </div>
  </body>
</html>
