<!DOCTYPE html>
<html>
  <title>דף קשר מנהלתי לתלמיד</title>
  <head>
    {% load static %} {% load static %} <link rel="stylesheet" type="text/css"
    href='{% static 'stud.css' %}?{% now "U" %}'>
    <style></style>
  </head>

  <body dir="rtl">
    <div class="topnav">
      <a class="btn" href="/users/HomePageStudent/897{{student.user_id}}654"
        >דף הבית</a
      >
      <a class="btn" href="/users/homework_Student/897{{student.user_id}}654">
        שיעורי הבית שלי</a
      >
      <a class="btn" href="/users/PhoneStu/897{{student.user_id}}654"
        >דף קשר הכיתה שלי</a
      >
      <a class="active" href="/users/StuAdministrativePhones/897{{student.user_id}}654" >דף קשר מנהלתי</a>

      <a class="btn" href="">מדריך </a>
      <a class="btn" href="/users/massege_InStudent/897{{student.user_id}}654"
        >מסרים
      </a>
      <a class="btn" href="#about">שאלון תלמיד </a>
    </div>
    <center>
      <div class="beautyy">
        תלמיד יקר ,בעמוד זה ישנם מספרי פלאפון של הצוות המנהלתי בבית ספרך 
      </div>
      <ul>
        <p style="color:white;"><h1>הנבחרת של הכיתה</h1></p>

        <table id="tableTecher">
          <tr>
            <th>שם המורה</th>
            <th>מספר פלאפון</th>
          </tr>
        </table> 

            <table id="tableTecher">
              <tr>
                <td> המנהל/ת שלי {{manager.name}}</td>
                <td>{{manager.phone_number}}</td>
              </tr>
           </table>

        {% for teacher in teachers %}
           <table id="tableTecher">
              <tr>
            {% if teacher.name %}

              {% if teacher == my_teacher %}
                <td>{{teacher.name}} (המחנכ/ת שלי) </td>
                <td>{{teacher.phone_number}}</td>
                {% else %}
                <td>{{teacher.name}}</td>
                <td>{{teacher.phone_number}}</td>
                {% endif%}
            {% endif%}

              </tr>
           </table>
        {% endfor %}
     </ul>
    </center>
  </body>
</html>
