<!DOCTYPE html>
<html>
  <title>מדריך לתלמיד החדש</title>
  <head>
    <style></style>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'man.css' %}" />
  </head>

  <body>
    <div class="topnav">
      <a class="btn" href="/users/HomePageStudent/897{{student.user_id}}654"
        >דף הבית</a
      >
      <a class="btn" href="#news"> שיעורי הבית שלי</a>
      <a class="btn" href="/users/PhoneStu/897{{student.user_id}}654"
        >דף קשר הכיתה שלי</a
      >
      <a class="active" href="#about">מדריך </a>
      <a class="btn" href="#contact">מסרים </a>
      <a class="btn" href="#about">שאלון תלמיד </a>
    </div>
  </body>
</html>
