<!DOCTYPE html>
<title>מסרים</title>
<html>
  <head>
    {% load static %} <link rel="stylesheet" type="text/css" href='{% static
    'man.css' %}?{% now "U" %}'>
    <style></style>
  </head>

  <body>
    <div class="topnav">
      <a class="active" href="/users/HomePageStudent/897{{student.user_id}}654"
        >דף הבית</a
      >
      <a href="/users/homework_Student/897{{student.user_id}}654">
        שיעורי הבית שלי</a
      >
      <a class="btn" href="/users/PhoneStu/897{{student.user_id}}654"
        >דף קשר הכיתה שלי</a
      >
      <a href="#about">מדריך </a>
      <a href="/users/massege_InStudent/897{{student.user_id}}654">מסרים </a>
      <a href="#about">שאלון תלמיד </a>
    </div>

    <h1>הודעות הנהלה</h1>
    {% for mas in masseges_FromManager %} שם השולח : {{mas.author.name}} <br />
    תאריך : {{mas.date_create}} <br />
    נושא : {{mas.subject}} <br />
    תוכן : {{mas.content}} <br />
    <br /><br /><br />
    {% endfor %}

    <h1>הודעות מהמורה</h1>
    {% for mas in masseges_FromTeacher %} שם השולח : {{mas.author.name}} <br />
    תאריך : {{mas.date_create}} <br />
    נושא : {{mas.subject}} <br />
    תוכן : {{mas.content}} <br />
    <br /><br /><br />
    {% endfor %}
  </body>
</html>
