<!DOCTYPE html>
<html>
  <title>דף קשר לתלמיד</title>
  <head>
    {% load static %} {% load static %} <link rel="stylesheet" type="text/css"
    href='{% static 'stud.css' %}?{% now "U" %}'>
    <style></style>
  </head>

  <body>
    <div class="topnav">
      <a class="btn" href="/users/HomePageStudent/897{{student.user_id}}654"
        >דף הבית</a
      >
      <a class="btn" href="/users/homework_Student/897{{student.user_id}}654">
        שיעורי הבית שלי</a
      >
      <a class="active" href="/users/PhoneStu/897{{student.user_id}}654"
        >דף קשר הכיתה שלי</a
      >
      <a class="btn" href="">מדריך </a>
      <a class="btn" href="/users/massege_InStudent/897{{student.user_id}}654"
        >מסרים
      </a>
      <a class="btn" href="#about">שאלון תלמיד </a>
    </div>
    <center>
      <ul>
        <p style="color:white;"><h1>הנבחרת של הכיתה</h1></p>
        <table id="tableTecher">
          <tr>
            <th>שם התלמיד</th>
            <th>מספר פלאפון</th>
          </tr>
         {% for student in students %}
            <tr class="student">
              <td>{{student.name}}</td>
              <td>{{student.phone_number}}</td>
            </tr>
        </table>
        {% endfor %}
     </ul>
    </center>
  </body>
</html>
