<!DOCTYPE html>
<html>
  <title>שאלון לתלמיד</title>
  <head>
    {% load static %} <link rel="stylesheet" type="text/css" href='{% static
    'stud.css' %}?{% now "U" %}'>
    <style></style>
  </head>

  <body>
    <div class="topnav">
      <a class="btn" href="/users/HomePageStudent/897{{student.user_id}}654"
        >דף הבית</a
      >
      <a class="btn" href="/users/homework_Student/897{{student.user_id}}654">
        שיעורי הבית שלי</a
      >
      <a class="btn" href="/users/PhoneStu/897{{student.user_id}}654"
        >דף קשר הכיתה שלי</a
      >
      <a
        class="btn"
        href="/users/StuAdministrativePhones/897{{student.user_id}}654"
        >דף קשר מנהלתי</a
      >

      <a class="btn" href="#about">מדריך </a>
      <a class="btn" href="/users/massege_InStudent/897{{student.user_id}}654">
        מסרים
      </a>
      <a class="active" href="/users/quizStudent/897{{student.user_id}}654"
        >שאלון תלמיד
      </a>
    </div>

    <h2>
      {{student.name}} עלייך למלא שאלון על מצבך הבריאותי , אנא כנס לקישור הנל
      <strong> ולאחר סיום השאלון לחץ על הכפתור</strong> עניתי על השאלון
    </h2>

    {% for qu in quiz %} <br />
    {% if qu.read_quiz == False%} {{qu.date_create}}
    <a href="{{qu.link}}" target="blank"> קישור למילוי השאלון </a> <br /><br />
    {% endif %} {% endfor %}

    <a href="/users/answerQuiz/897{{student.user_id}}654/"
      >מילאתי את השאלונים</a
    >
  </body>
</html>
