<!DOCTYPE html>
  <html>
  <title>מדגם תלמידים אדומים</title>
  <head>
    {% load static %}
      <link rel="stylesheet" type="text/css" href='{% static 'man.css' %}?{% now "U" %}'>
      <style>
      #tableTecher th {
      padding-top: 10px;
      width: 21%;
      padding-bottom: 10px;
      text-align: center;
      background-color: #c3a9a9;
      color: rgb(12, 14, 13);
  } 
      </style>

  </head>
  <body dir="rtl">
    <div class="topnav">
      <a class="btn" href="/users/HomePageManager/897{{manager.user_id}}654/"
        >דף הבית</a
      >
      <a class="btn" href="/users/PhonesT/897{{manager.user_id}}654">
        דף קשר צוות
      </a>
      <a
        class="active"
        href="/users/graphStudentStatus/897{{manager.user_id}}654"
      >
        מדגם תלמידים אדומים
      </a>
      <a class="btn" href="/users/quizManager/{{manager.user_id}}">בניית שאלון</a>

      <a class="btn" href="/users/massegeForTeacher/897{{manager.user_id}}654"
        >מסרים למורים</a
      >
      <a class="btn" href="/users/massegeForStudentManager/897{{manager.user_id}}654">מסרים לתלמידים</a>

      <a class="btn" href="/users/addTeacher/{{manager.user_id}}" target="_self"
        >מורה חדש</a
      >
    </div>
    <center>
      <h1>מדגם תלמידים לפי כיתות</h1>
    </center>

    <table id="tableTecher">
      <tr>
        <th>מורה</th>
        <th>כיתה</th>
        <th>תלמידים אדומים </th>
        <th>תלמידים ירוקים </th>
      </tr>
    </table>

    <table id="tableTecher">
      <tr class="students">
        {% for teacher in teachers %}
        <th>{{teacher.name}}</th>
        <th>{{teacher.my_class}} </th>
        <th>{{teacher.count_red}} </th>
        <th>{{teacher.count_green}} </th>

      </tr>
      {% endfor %}
  </body>
</html>