<!DOCTYPE html>

<head>
  <style> 

  </style>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'man.css' %}"/>
  

  

   
  
</head>


<body >
  
 
    <div class="topnav">
      <a class="active" href="/users/HomePageManager/897{{manager.user_id}}654/">דף הבית</a>
      <a class="btn"href="/users/PhonesT/897{{manager.user_id}}654"> דף קשר צוות </a>
      <a class="btn"href="/users/graphStudentStatus/897{{manager.user_id}}654"> מדגם תלמידים אדומים </a>
      <a class="btn" href="#about">בניית שאלון</a>


      <a class="btn" href="/users/massegeForTeacher/897{{manager.user_id}}654">מסרים למורים</a>
      <a class="btn" href="/users/addTeacher/{{manager.user_id}}" target="_self">מורה חדש</a>
      
    </div>
 




  <center>

    <p>
    <h1> {{manager.name}} :שלום למנהל/ת </h1>
    </p>
  </center>






  <a id="id1" href="/users/ChanageStatusManager/897{{manager.user_id}}654/">שנה את הסטטוס שלי</a>
  <div class=ha>
    <center>

      אני מצהיר כדלהלן - עם שינוי הסטטוס שלי לירוק אני מתחייב כי אני
      איינני חולה קורונה מאובחן, לא דווח לי כי עליי לשהות בבידוד וככל הידוע לי לא שהייתי בקרבת חולה מאומת.
      .כמו כן איני סובל מסימפטומים כגון - חום גבוה ,שיעול או קשיי נשימה
    </center>

  </div>


  {%if manager.status == False%}
  <p class=red> </p>
  {%endif%}
  {%if manager.status == True%}
  <p class=green> </p>
  {%endif%}



  <div class="table">

    <div class="teac">
     
      המורים הנעדרים בשל סטטוס אדום

    </div>




    <tr>

      {% for teacher in teachers %}

      {% if teacher.status%} 
       
<div class=linr>

  <th> {{teacher.name}} </th>



  </mark>

</div>

        
        


      </mark>   



      {% else %}
      {% endif %}
      <br>
      {% endfor %}
    </tr>
  </div>



  <a id="id3" href="/" target="_self">התנתקות</a>







</html>


