<!DOCTYPE html>
<html>

  <title>דף קשר צוות מורים</title>
  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href='{% static 'man.css' %}?{% now "U" %}'>
    
    
  </head>

  <body>

   <div class="topnav">
      <a class="btn" href="/users/HomePageManager/897{{manager.user_id}}654/">דף הבית</a>
      <a class="active"href="/users/PhonesT/897{{manager.user_id}}654"> דף קשר צוות </a>
      <a class="btn"href="/users/graphStudentStatus/897{{manager.user_id}}654"> מדגם תלמידים אדומים </a>
      <a class="btn" href="/users/quizManager/{{manager.user_id}}">בניית שאלון</a>

      <a class="btn" href="/users/massegeForTeacher/897{{manager.user_id}}654">מסרים למורים</a>
      <a class="btn" href="/users/massegeForStudentManager/897{{manager.user_id}}654">מסרים לתלמידים</a>
      <a class="btn" href="/users/addTeacher/{{manager.user_id}}" target="_self">מורה חדש</a>
      
    </div>
 
   
    <ul>
      <center><p>
        <h1>הנבחרת של בית הספר</h1>
        </p>
      </center>

      <table id="tableTecher">
        <tr>
          <th>שם</th>
          <th>כיתת המורה</th>
          <th>מספר פלאפון</th>
        </tr>
      </table>
      {% for teacher in teacher %}
      <table id="tableTecher">
        <tr class="teacher">
          
          <td>{{teacher.name}}</td>
          <td>{{teacher.my_class}}</td>
          <td>{{teacher.phone_number}}</td>
        </tr>
      </table>
      {% endfor %}
    </ul>
 
  </body>
</html>

