<style>
    a#id1 {
    background: -webkit-linear-gradient(90deg, #FFB6C1, #87CEFA);
    background: -o-linear-gradient(90deg, #FFB6C1, #87CEFA);
    background: -moz-linear-gradient(90deg, #FFB6C1, #87CEFA);
    background: linear-gradient(90deg, #FFB6C1, #87CEFA);
    -webkit-box-shadow: 200px 53px 100px -100px #333333;
    box-shadow: 200px 53px 100px -100px #333333;
    text-shadow: -4px -5px 28px #333333;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: 3px solid;
    border-color: #333333;
    width: 100%;
    font-size: 42px!important;
    color: #333333!important;
    text-align: center;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-right: 47px;
    padding-left: 47px;
    text-decoration: none;
    display: block; }
    </style>
    <a href="http://" id="id1" target="_self">מורה</a>