<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <style>
      span {
        color: black;
        font-size: 300%;
        float: right;
      }
      p {
        color: black;
        font-family: courier;
        border: 5px solid;
        padding: 50px;
        width: 200px;
        font-size: 200%;
      }
    </style>
  </head>

  <body>
    <html>
      <body style="background-color: rgb(241, 229, 241)">
        <en> <span style="font-size: 81px">בית הספר שלי בזמן קורונה</span> </en>
        <p>להירשמות לאתר</p>
        <p>להתחברות לאתר</p>
        <img
          src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
          alt=""
        />
      </body>
    </html>
  </body>
</html>
